<h1>Home</h1>

<%= form_with url: nutri_buscar_produto_path, method: :get do |form| %>
  <div style="margin-bottom: 10px;">
    <label for="produto_1">Produto 1</label>
    <%= form.text_field :produto_1 %>
    <%= form.submit %>
  </div>
<% end %>

<div style="margin-bottom: 10px;">
  <label for="produto_1">Produto 2</label>
  <input type="text" name="produto_2">
  <button>Pesquisar</button>
</div>

<% unless @items.blank? %>
  <%= @items %>
<% end %>

